<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--配置全局属性-->
    <settings>
        <!--获取数据库自动增长列-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--开启列别名替换列名-->
        <!--<setting name="useColumnLabel" value="true"/>-->
        <!--开启驼峰命名-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--开启别名-->
    <!--<typeAliases>-->
    <!--<package name="cn.imzjw.ssm.entity"/>-->
    <!--</typeAliases>-->

</configuration>